Repository ashleyyytjh/OnlyNotesBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_orders, trigger_account, trigger_notes, trigger_request, trigger_verify

.gitlab-ci.yml:

stages:
  - trigger
  - notify

trigger_orders:
  stage: trigger
  trigger:
    include: apps/orders/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/orders/**/*

trigger_account:
  stage: trigger
  trigger:
    include: apps/account/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/account/**/*

trigger_notes:
  stage: trigger
  trigger:
    include: apps/notes/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/notes/**/*

trigger_request:
  stage: trigger
  trigger:
    include: apps/request/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/request/**/*

# trigger_reviews:
#   stage: trigger
#   rules:
#     - changes:
#         - apps/reviews/**/*

trigger_verify:
  stage: trigger
  trigger:
    include: apps/verify/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/verify/**/*

notify_discord:
  stage: notify
  script:
    - |
      payload="{\"content\": \"Pipeline Status: $CI_PIPELINE_STATUS\nProject: $CI_PROJECT_NAME\nCommit: $CI_COMMIT_REF_NAME\nCommit message: $CI_COMMIT_MESSAGE\nPipeline URL: $CI_PIPELINE_URL\"}"
      echo $payload  # Add this line to print the payload and inspect it
      curl -X POST -H "Content-Type: application/json" -d "$payload" $DISCORD_WEBHOOK_URL

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  apps/account/.gitlab-ci.yml
Due: trigger_account

Update root .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

"fix : api gateway integration with request service"
  apps/apiGateway/.env
  apps/apiGateway/nginx/nginx.conf.template
Due: none

ci: infra ci file
  infra/iac/.gitlab-ci.yml
Due: none

update(infra): production infra
  infra/S3 Env/pull_bucket.sh
  infra/S3 Env/push_bucket.sh
  infra/iac/development/cognito/cognito_user_pool.tf
  infra/iac/production/cognito/cognito_user_pool.tf
  infra/iac/production/cognito/cognito_user_pool_client.tf
  infra/iac/production/cognito/cognito_user_pool_domain.tf
  infra/iac/production/ecs/alb rules.tf
  infra/iac/production/ecs/alb.tf
  infra/iac/production/ecs/data.tf
  infra/iac/production/ecs/ecs.tf
  infra/iac/production/ecs/tg.tf
  infra/iac/production/main.tf
  infra/iac/staging/cognito/cognito_user_pool.tf
Due: none

Update 2 files
  .gitlab-ci.yml
  apps/account/.gitlab-ci.yml
Due: trigger_account

Update 4 files
  apps/notes/.gitlab-ci.yml
  apps/orders/.gitlab-ci.yml
  apps/request/.gitlab-ci.yml
  apps/verify/.gitlab-ci.yml
Due: trigger_orders, trigger_notes, trigger_request, trigger_verify

Update .gitlab-ci.yml
  apps/verify/.gitlab-ci.yml
Due: trigger_verify

fix(iac): terrascan artifact
  apps/verify/app.py
  infra/iac/.gitlab-ci.yml
Due: trigger_verify

ci(iac): iac trigger
  .gitlab-ci.yml
Due: none

Update cognito_user_pool.tf
  infra/iac/development/cognito/cognito_user_pool.tf
Due: none

update(infra): prod infra
  infra/S3 Env/pull_bucket.sh
  infra/S3 Env/push_bucket.sh
  infra/iac/production/ecs/alb rules.tf
  infra/iac/production/ecs/alb.tf
  infra/iac/production/ecs/ecs.tf
  infra/iac/production/ecs/tg.tf
  infra/iac/production/main.tf
Due: none

test: pipeline test
  apps/account/controllers/user.js
  apps/notes/src/main/java/cs302/notes/service/serviceImpl/NotesServiceImpl.java
Due: trigger_account, trigger_notes
