Repository owjoel/send-notes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_orders, trigger_account, trigger_notes, trigger_verify

.gitlab-ci.yml:

stages:
  - trigger

trigger_orders:
  stage: trigger
  trigger:
    include: apps/orders/.gitlab-ci.yml
  rules:
    - changes:
        - apps/orders/**/*

trigger_account:
  stage: trigger
  trigger:
    include: apps/account/.gitlab-ci.yml
  rules:
    - changes:
        - apps/account/**/*

trigger_notes:
  stage: trigger
  trigger:
    include: apps/notes/.gitlab-ci.yml
  rules:
    - changes:
        - apps/notes/**/*

# trigger_request:
#   stage: trigger
#   rules:
#     - changes:
#         - apps/request/**/*

# trigger_reviews:
#   stage: trigger
#   rules:
#     - changes:
#         - apps/reviews/**/*

trigger_verify:
  stage: trigger
  trigger:
    include: apps/verify/.gitlab-ci.yml
  rules:
    - changes:
        - apps/verify/**/*

feat: Removed auto threading of flask app
  apps/verify/app.py
Due: trigger_verify

fix: Revert change to app run status
  apps/verify/app.py
Due: trigger_verify

Update .gitlab-ci.yml
  apps/account/.gitlab-ci.yml
Due: trigger_account

update(notes): .gitlab-ci.yml dependent on build
  apps/notes/.gitlab-ci.yml
Due: trigger_notes

update(orders): .gitlab-ci.yml dependent on build
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

update(request): .gitlab-ci.yml dependent on build
  apps/request/.gitlab-ci.yml
Due: none

update(verify): .gitlab-ci.yml dependent on build
  apps/verify/.gitlab-ci.yml
Due: trigger_verify

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

build: separate service images in multi-pipeline
  apps/account/.gitlab-ci.yml
  apps/notes/.gitlab-ci.yml
  apps/orders/.gitlab-ci.yml
  apps/request/.gitlab-ci.yml
  apps/verify/.gitlab-ci.yml
Due: trigger_orders, trigger_account, trigger_notes, trigger_verify

feat(orders): otlp auto instrumentation
  apps/orders/adapters/events/rabbitmq/producer.js
  apps/orders/package-lock.json
  apps/orders/package.json
  apps/orders/tracing.js
Due: trigger_orders

feat: otel collector config
  infra/otel/.gitignore
  infra/otel/README.md
  infra/otel/config.yaml
  infra/otel/test.yaml
Due: none

[account] update: samesite to none
  apps/account/controllers/auth.js
Due: trigger_account
