Repository ashleyyytjh/OnlyNotesBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_orders, trigger_account, trigger_notes, trigger_request, trigger_verify

.gitlab-ci.yml:

stages:
  - trigger
  - notify

trigger_orders:
  stage: trigger
  trigger:
    include: apps/orders/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/orders/**/*

trigger_account:
  stage: trigger
  trigger:
    include: apps/account/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/account/**/*

trigger_notes:
  stage: trigger
  trigger:
    include: apps/notes/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/notes/**/*

trigger_request:
  stage: trigger
  trigger:
    include: apps/request/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/request/**/*

# trigger_reviews:
#   stage: trigger
#   rules:
#     - changes:
#         - apps/reviews/**/*

trigger_verify:
  stage: trigger
  trigger:
    include: apps/verify/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - apps/verify/**/*

notify_discord:
  stage: notify
  script:
    - |
      payload="{\"content\": \"Pipeline Status: $CI_PIPELINE_STATUS\nProject: $CI_PROJECT_NAME\nCommit: $CI_COMMIT_REF_NAME\nCommit message: $CI_COMMIT_MESSAGE\nPipeline URL: $CI_PIPELINE_URL\"}"
      echo $payload  # Add this line to print the payload and inspect it
      curl -X POST -H "Content-Type: application/json" -d "$payload" $DISCORD_WEBHOOK_URL

test: test discord notif
  .gitlab-ci.yml
Due: none

test: discord notif test
  .gitlab-ci.yml
Due: none

update(request): secure request endpoints
  apps/request/controllers/requestItemController.js
  apps/request/package-lock.json
  apps/request/package.json
  apps/request/routes/requestItem.js
  apps/request/services/requestItemService.js
Due: trigger_request

feat: Removed Cognito url
  apps/notes/src/main/java/cs302/notes/security/JwtAuthenticationFilter.java
  apps/notes/src/main/resources/application.properties
Due: trigger_notes

"fix :adding logs for notes service"
  apps/notes/src/main/java/cs302/notes/controller/NotesController.java
Due: trigger_notes

"fix :removed logs for notes service...?"
  apps/notes/src/main/java/cs302/notes/controller/NotesController.java
Due: trigger_notes

"fix :added logs for testing"
  apps/notes/src/main/java/cs302/notes/controller/NotesController.java
Due: trigger_notes

feat: Fixed uploading error
  apps/notes/Dockerfile
  apps/notes/src/main/java/cs302/notes/service/serviceImpl/StorageServiceImpl.java
  apps/notes/uploads/testFile.jpeg
Due: trigger_notes

add orders integration test to pipeline
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

fix: add docker compose to script
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

update orders integration test in pipeline
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

removed integration cos skill issue
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

added(infra): ecs, alb terraform states
  infra/iac/staging/ecs/alb rules.tf
  infra/iac/staging/ecs/alb.tf
  infra/iac/staging/ecs/ecs.tf
  infra/iac/staging/ecs/tg.tf
  infra/iac/staging/main.tf
Due: none

added(infra): remove unused states
  infra/iac/staging/api gateway/api-gateway.tf
  infra/iac/staging/api gateway/resouce_auth-demo.tf
  infra/iac/staging/api gateway/resouce_demo.tf
  infra/iac/staging/api gateway/trust-policy.tf
  infra/iac/staging/api gateway/variables.tf
  infra/iac/staging/ecs/data.tf
  infra/iac/staging/remote state/remote_state_storage.tf
  infra/iac/staging/remote state/variables.tf
Due: none

added(infra): remove unused states
  infra/iac/development/api gateway/api-gateway.tf
  infra/iac/development/api gateway/resouce_auth-demo.tf
  infra/iac/development/api gateway/resouce_demo.tf
  infra/iac/development/api gateway/trust-policy.tf
  infra/iac/development/api gateway/variables.tf
  infra/iac/development/remote state/remote_state_storage.tf
  infra/iac/development/remote state/variables.tf
  infra/iac/production/api gateway/api-gateway.tf
  infra/iac/production/api gateway/resouce_auth-demo.tf
  infra/iac/production/api gateway/resouce_demo.tf
  infra/iac/production/api gateway/trust-policy.tf
  infra/iac/production/api gateway/variables.tf
  infra/iac/production/remote state/remote_state_storage.tf
  infra/iac/production/remote state/variables.tf
Due: none

added(middleware): remove unused dependencies
  middlewares/token_verifier/package.json
Due: none

added(account): rebuild
  apps/account/package-lock.json
Due: trigger_account

"fix : changing stripe webhook logic"
  apps/orders/controllers/stripeController.js
Due: trigger_orders

"fix : added correct Id to update order status"
  apps/orders/controllers/stripeController.js
Due: trigger_orders

fix: Fixed verify permissions
  apps/verify/app.py
  apps/verify/requirements.txt
Due: trigger_verify

feat: Clean up APIs for verify service
  apps/verify/app.py
Due: trigger_verify

feat: Fixed prompt to be faster
  apps/verify/app.py
Due: trigger_verify

feat: Fixed listing-verified
  apps/notes/src/main/java/cs302/notes/service/serviceImpl/MessageReceiver.java
  apps/verify/app.py
Due: trigger_notes, trigger_verify

fix(orders): deployment env name for otel
  apps/orders/package-lock.json
  apps/orders/package.json
  apps/orders/tracing.js
Due: trigger_orders

"fix : changing nodeversion to 20 for orders"
  apps/orders/Dockerfile
Due: trigger_orders

"fix : added cors config for req service"
  apps/request/app.js
Due: trigger_request

"fix : added cors config for req service in package.json"
  apps/request/package-lock.json
  apps/request/package.json
Due: trigger_request

"fix : changing stripe logic in order"
  apps/orders/controllers/stripeController.js
Due: trigger_orders

fix: Fixed verify service to handle problems
  apps/verify/.gitlab-ci.yml
  apps/verify/app.py
Due: trigger_verify

discord notif for order channel
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

fix: Fixed code that fails pipelines
  apps/verify/.gitlab-ci.yml
  apps/verify/app.py
  apps/verify/flake8_report.txt
Due: trigger_verify

fix: Fixed pipeline for verify
  apps/verify/.gitlab-ci.yml
Due: trigger_verify

test: test private discord channel
  apps/orders/tests/unit/services/orderService.test.js
Due: trigger_orders

fix: Fixed Line too long errors
  apps/verify/.gitlab-ci.yml
  apps/verify/app.py
  apps/verify/flake8_report.txt
Due: trigger_verify

test private order channel
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

feat: Split UnitTests and IntegrationTests in pipeline
  apps/notes/.gitlab-ci.yml
  apps/notes/src/test/java/cs302/notes/IntegrationTests.java
Due: trigger_notes

reset allowfailure back to true
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

refactor: reset back unit test code orders
  apps/orders/tests/unit/services/orderService.test.js
Due: trigger_orders

private notes channel webhook url
  apps/notes/.gitlab-ci.yml
Due: trigger_notes
