Repository ashleyyytjh/OnlyNotesBE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_orders, trigger_account, trigger_notes, trigger_request, trigger_verify

trigger_orders:
  stage: trigger
  trigger:
    include: apps/orders/.gitlab-ci.yml
    strategy: depend

trigger_account:
  stage: trigger
  trigger:
    include: apps/account/.gitlab-ci.yml
    strategy: depend

trigger_notes:
  stage: trigger
  trigger:
    include: apps/notes/.gitlab-ci.yml
    strategy: depend

trigger_request:
  stage: trigger
  trigger:
    include: apps/request/.gitlab-ci.yml
    strategy: depend

trigger_verify:
  stage: trigger
  trigger:
    include: apps/verify/.gitlab-ci.yml
    strategy: depend

Account webhook url
  apps/account/.gitlab-ci.yml
Due: trigger_account

request webhook url
  apps/request/.gitlab-ci.yml
Due: trigger_request

feat: Updated gitlab pipeline for notes test
  apps/notes/.gitlab-ci.yml
Due: trigger_notes

verify discord webhook
  apps/verify/.gitlab-ci.yml
Due: trigger_verify

Update .gitlab-ci.yml
  apps/verify/.gitlab-ci.yml
Due: trigger_verify

feat: ValidationUnit Test
  apps/notes/.gitlab-ci.yml
  apps/notes/src/test/java/cs302/notes/ValidationUnitTests.java
Due: trigger_notes

feat: Allow mvn to find ValidationUnitTests
  apps/notes/src/test/java/cs302/notes/ValidationUnitTests.java
Due: trigger_notes

fix(orders): otel
  apps/orders/tracing.js
Due: trigger_orders

feat: compile instead of verify
  apps/notes/.gitlab-ci.yml
Due: trigger_notes

fix: Fixed the ValidationUnitTests
  apps/notes/.gitlab-ci.yml
Due: trigger_notes

feat: Updated the allow failure to false
  apps/notes/.gitlab-ci.yml
Due: trigger_notes

fix(request): tracing
  apps/request/tracing.js
Due: trigger_request

fix(orders): tracing
  apps/orders/tracing.js
Due: trigger_orders

Update orders allowfailure
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

fix(account): otel
  apps/account/tracing.js
Due: trigger_account

feat: allow failure for repos
  apps/account/.gitlab-ci.yml
  apps/notes/.gitlab-ci.yml
  apps/request/.gitlab-ci.yml
  apps/verify/.gitlab-ci.yml
Due: trigger_account, trigger_notes, trigger_request, trigger_verify

refactor: ensure success notification passes pipeline and not skip
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

refactor: add success and failure to stage for all repos
  apps/account/.gitlab-ci.yml
  apps/notes/.gitlab-ci.yml
  apps/orders/.gitlab-ci.yml
  apps/request/.gitlab-ci.yml
  apps/verify/.gitlab-ci.yml
Due: trigger_orders, trigger_account, trigger_notes, trigger_request, trigger_verify

fix: change request unit test
  apps/request/tests/unit/requestItem.test.js
Due: trigger_request

add(request): notify queue to include environment
  apps/request/services/requestItemService.js
Due: trigger_request

feat: Updated Dockerfile for python
  apps/verify/Dockerfile
Due: trigger_verify

fix(veirfy): otel
  apps/verify/Dockerfile
Due: trigger_verify

"fix : changing id to string"
  apps/orders/services/orderService.js
Due: trigger_orders

fix: Updated connection with orders
  apps/notes/src/main/java/cs302/notes/data/response/ErrorResponse.java
  apps/notes/src/main/java/cs302/notes/data/response/MultiNotesResponse.java
  apps/notes/src/main/java/cs302/notes/data/response/SingleNotesResponse.java
  apps/notes/src/main/java/cs302/notes/models/OrderSuccess.java
  apps/notes/src/main/java/cs302/notes/models/OrdersNotesSuccess.java
  apps/notes/src/main/java/cs302/notes/service/serviceImpl/MessageReceiver.java
  apps/notes/src/main/java/cs302/notes/service/serviceImpl/MessageSender.java
Due: trigger_notes

fix(account): forward to sns
  apps/account/events/rabbitmq/consumer.js
Due: trigger_account

"fix : changing id to string"
  apps/orders/adapters/events/rabbitmq/producer.js
  apps/orders/services/orderService.js
Due: trigger_orders

fix(account): removed vulnerable package
  apps/account/package-lock.json
  apps/account/package.json
Due: trigger_account

feat: Updated OrderSuccessObject
  apps/notes/src/main/java/cs302/notes/models/OrderSuccess.java
  apps/notes/src/main/java/cs302/notes/models/OrdersNotesSuccess.java
  apps/notes/src/main/java/cs302/notes/service/serviceImpl/MessageReceiver.java
Due: trigger_notes

fix(account): sns
  apps/account/events/rabbitmq/consumer.js
Due: trigger_account

feat: Remove mq stuff
  apps/notes/src/main/resources/application.properties
Due: trigger_notes

feat: add orders integration test
  apps/orders/ci/Dockerfile
  apps/orders/ci/compose.test.yaml
  apps/orders/ci/wait-for-it.sh
  apps/orders/package.json
  apps/orders/tests/fixtures/ordersFixture.js
  apps/orders/tests/integration/orderServiceIntegration.test.js
Due: trigger_orders

add order integration test
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

spelling error
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

change path
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

fix(account): payload property
  apps/account/events/rabbitmq/consumer.js
Due: trigger_account

feat: Updated werkzeug version
  apps/verify/requirements.txt
Due: trigger_verify

"fix : account service"
  apps/account/controllers/auth.js
Due: trigger_account

"fix : api gateway integration with request service"
  apps/apiGateway/.env
  apps/apiGateway/docker-entrypoint.sh
  apps/apiGateway/nginx/nginx.conf.template
Due: none

Update .gitlab-ci.yml
  apps/account/.gitlab-ci.yml
Due: trigger_account

Path conditions:
  trigger_orders: any of: apps/orders/**/*
  trigger_account: any of: apps/account/**/*
  trigger_notes: any of: apps/notes/**/*
  trigger_request: any of: apps/request/**/*
  trigger_verify: any of: apps/verify/**/*
