Repository owjoel/send-notes: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_orders, trigger_account, trigger_notes, trigger_verify

.gitlab-ci.yml:

stages:
  - trigger

trigger_orders:
  stage: trigger
  trigger:
    include: apps/orders/.gitlab-ci.yml
  rules:
    - changes:
        - apps/orders/**/*

trigger_account:
  stage: trigger
  trigger:
    include: apps/account/.gitlab-ci.yml
  rules:
    - changes:
        - apps/account/**/*

trigger_notes:
  stage: trigger
  trigger:
    include: apps/notes/.gitlab-ci.yml
  rules:
    - changes:
        - apps/notes/**/*

# trigger_request:
#   stage: trigger
#   rules:
#     - changes:
#         - apps/request/**/*

# trigger_reviews:
#   stage: trigger
#   rules:
#     - changes:
#         - apps/reviews/**/*

trigger_verify:
  stage: trigger
  trigger:
    include: apps/verify/.gitlab-ci.yml
  rules:
    - changes:
        - apps/verify/**/*

"adding api gateway pipeline"
  apps/apiGateway/.env
  apps/apiGateway/Dockerfile
  apps/apiGateway/docker-entrypoint.sh
  apps/apiGateway/nginx/nginx.conf.template
  apps/compose.yaml
  apps/orders/app.js
Due: trigger_orders

"feat: adding docker files for local development"
  apps/account/Dockerfile
  apps/account/app.js
  apps/account/package.json
  apps/apiGateway/.env
  apps/apiGateway/nginx/nginx.conf.template
  apps/compose.yaml
  apps/orders/adapters/sockets/websocket.js
  apps/orders/app.js
Due: trigger_orders, trigger_account

"feat: adding docker files for local development"
  apps/compose.yaml
Due: none

feat: Implemented Logging of all requests and response into the endpoints
  apps/notes/.gitignore
  apps/notes/src/main/java/cs302/notes/config/RequestResponseLoggingInterceptor.java
  apps/notes/src/main/java/cs302/notes/config/WebConfig.java
  apps/notes/src/main/resources/logback.xml
Due: trigger_notes

"feat: adding user config to add log files for springboot logging"
  apps/compose.yaml
Due: none

fix: Set verify service such that it does not ack the message if the message faces Exceptions
  apps/verify/app.py
Due: trigger_verify

fix: Minor fix on printing and gitignores on verify service
  apps/verify/.gitignore
  apps/verify/app.py
Due: trigger_verify

feat: Implemented fix on securing file names
  apps/notes/src/main/java/cs302/notes/service/serviceImpl/StorageServiceImpl.java
Due: trigger_notes

ci(orders): target flag for prod
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

feat: Ensured that s3 client uses credentials set
  apps/verify/app.py
Due: trigger_verify

"moving my orders docker file to root orders"
  apps/compose.yaml
  apps/orders/.dockerignore
  apps/orders/Dockerfile
  apps/orders/README.Docker.md
  apps/orders/compose.yaml
  apps/orders/package.json
Due: trigger_orders

Update .gitlab-ci.yml
  apps/account/.gitlab-ci.yml
Due: trigger_account

feat: opentelemetry config
  apps/orders/adapters/events/rabbitmq/consumer.js
  apps/orders/package-lock.json
  apps/orders/package.json
  apps/orders/tracing.js
  infra/otlm/collector-config.yml
  middlewares/token_verifier/package.json
Due: trigger_orders

ci(orders): Dockerfile path
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

ci: node Dockerfile prod flag
  apps/account/Dockerfile
  apps/orders/Dockerfile
  apps/request/Dockerfile
Due: trigger_orders, trigger_account

Update .gitlab-ci.yml
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

Update .gitlab-ci.yml
  apps/verify/.gitlab-ci.yml
Due: trigger_verify

Update .gitlab-ci.yml
  apps/request/.gitlab-ci.yml
Due: none

update(account): .github-ci.yml to push to ecs staging
  apps/account/.gitlab-ci.yml
Due: trigger_account

update(notes): .github-ci.yml to push to ecs staging
  apps/notes/.gitlab-ci.yml
Due: trigger_notes

update(orders): .github-ci.yml to push to ecs staging
  apps/orders/.gitlab-ci.yml
Due: trigger_orders

update(notes): .github-ci.yml add staging stage
  apps/notes/.gitlab-ci.yml
Due: trigger_notes

Update .gitignore
  apps/request/.gitignore
Due: none

ci: Dockerfile npm
  apps/account/Dockerfile
  apps/orders/Dockerfile
  apps/request/Dockerfile
  apps/request/package-lock.json
Due: trigger_orders, trigger_account

ci(orders): Dockerfile node image
  apps/orders/Dockerfile
Due: trigger_orders

build: amqp with wsgi worker
  apps/verify/Dockerfile
  apps/verify/app.py
  infra/otlm/collector-config.yml
Due: trigger_verify

build: copy all package like json
  apps/account/Dockerfile
Due: trigger_account

build(account): Dockerfile copy dir
  apps/account/Dockerfile
Due: trigger_account
